* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #162525;
    margin-top: 75px;

}

.container h1 {
    margin: 0;
}

.container {
    width: 90%;
    margin: 50px auto;
    box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
;
border-radius: 25px 50px;
}

.container-header {
    border-top-left-radius: 25px;
    border-top-right-radius: 50px;
    border-left: 6px solid #274141;
    background-color: #2f4f4f;
    color: aliceblue;
    padding: 25px;

}

.container-body {
    padding: 0px 25px;
    padding-top: 25px;
    background-color: #dadbd6;
    border-left: 6px solid #afb1a9;
    color: #272727;
}

.container p {
    margin: 0;
}

.container-footer {
    padding: 25px;
    background-color: #dadbd6;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 25px;
    border-left: 6px solid #afb1a9;
    border-bottom: 7px solid #afb1a9;
}

@media screen and (min-width: 600px) {
    body {
        margin-top: 150px;
    }

    .container {
        width: 380px;
    }
}