/* 
# bone white: #dadbd6
# bone shade: #afb1a9
# dark blue: #2f4f4f
# dark blue shade: #274141
# aus. coral: #ef7a6c
*/

* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #212727;
    margin-top: 50px;

}

nav {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav a {
    margin-right: 6%;
    text-decoration: none;
    color: #fbecde;
    transition: all 0.4s;
    position: relative;
}

nav a:hover {
    color: #fcfcfc;
    text-shadow: 0 0 10px #ef7a6c, 0 0 20px #ef7a6c, 0 0 30px #ef7a6c, 0 0 40px #ef7a6c;
}

.container h1 {
        margin: 0;
}

.container {
    width: 90%;
    margin: 50px auto;
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12)
    ;
    border-radius: 25px 50px;
}

.container-header {
    border-top-left-radius: 25px;
    border-top-right-radius: 50px;
    border-left: 6px solid #964940;
    background-color: #cc5b4f;
    color: aliceblue;
    padding: 25px;

}

.container-header h1 {
    display: inline;
}

.container-body {
    padding: 0px 25px;
    padding-top: 25px;
    background-color: #444F4F;
    border-left: 6px solid #363f3f;
    color: #272727;
}

.container img {
    max-width: 100%;
    border-radius: 15px;
}

.container p {
    margin: 0;
    color: #fbecde;
}

.container-footer {
    margin-top: -10px;
    padding: 25px;
    background-color: #444F4F;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 25px;
    border-left: 6px solid #363f3f;
    border-bottom: 7px solid #363f3f;
}

@media screen and (min-width: 600px) {
    .container {
        width: 500px;
    }
}

@media screen and (min-width: 900px) {
    .container {
        width: 700px;
    }
}